<h2>Formulario Usuario</h2>

<br/><input type=text placeholder="email" name="email" [(ngModel)]="usuario.email" />
<br/><input type=text placeholder="username" name="username" [(ngModel)]="usuario.username" />
<br/><input type=text placeholder="senha" name="senha" [(ngModel)]="usuario.senha" />
<br/><input type=text placeholder="foto" name="foto" [(ngModel)]="usuario.foto" />
<br/>
<button (click)="cadastrar();">Gravar Usuario</button>
<br/>
{{msg|json}}
<br/>

<li *ngFor="let item of usuarios">
    {{item | json}}
</li>